<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.javen.dao.DateBRDao" >
  <resultMap id="BaseResultMap" type="com.javen.model.DateBR" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="file_name" property="fileName" jdbcType="VARCHAR" />
    <result column="file_address" property="fileAddress" jdbcType="VARCHAR" />
    <result column="beiyong1" property="beiyong1" jdbcType="VARCHAR" />
    <result column="beiyong2" property="beiyong2" jdbcType="VARCHAR" />
    <result column="operate_time" property="operateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, file_name, file_address, beiyong1, beiyong2, operate_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from date_br
    where id = #{id,jdbcType=INTEGER}
  </select>
  
  <select id="showRestoreDB" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from date_br
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from date_br
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.javen.model.DateBR" >
    insert into date_br (id, file_name, file_address, 
      beiyong1, beiyong2, operate_time
      )
    values (#{id,jdbcType=INTEGER}, #{fileName,jdbcType=VARCHAR}, #{fileAddress,jdbcType=VARCHAR}, 
      #{beiyong1,jdbcType=VARCHAR}, #{beiyong2,jdbcType=VARCHAR}, #{operateTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.javen.model.DateBR" >
    insert into date_br
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="fileName != null" >
        file_name,
      </if>
      <if test="fileAddress != null" >
        file_address,
      </if>
      <if test="beiyong1 != null" >
        beiyong1,
      </if>
      <if test="beiyong2 != null" >
        beiyong2,
      </if>
      <if test="operateTime != null" >
        operate_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="fileName != null" >
        #{fileName,jdbcType=VARCHAR},
      </if>
      <if test="fileAddress != null" >
        #{fileAddress,jdbcType=VARCHAR},
      </if>
      <if test="beiyong1 != null" >
        #{beiyong1,jdbcType=VARCHAR},
      </if>
      <if test="beiyong2 != null" >
        #{beiyong2,jdbcType=VARCHAR},
      </if>
      <if test="operateTime != null" >
        #{operateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.javen.model.DateBR" >
    update date_br
    <set >
      <if test="fileName != null" >
        file_name = #{fileName,jdbcType=VARCHAR},
      </if>
      <if test="fileAddress != null" >
        file_address = #{fileAddress,jdbcType=VARCHAR},
      </if>
      <if test="beiyong1 != null" >
        beiyong1 = #{beiyong1,jdbcType=VARCHAR},
      </if>
      <if test="beiyong2 != null" >
        beiyong2 = #{beiyong2,jdbcType=VARCHAR},
      </if>
      <if test="operateTime != null" >
        operate_time = #{operateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.javen.model.DateBR" >
    update date_br
    set file_name = #{fileName,jdbcType=VARCHAR},
      file_address = #{fileAddress,jdbcType=VARCHAR},
      beiyong1 = #{beiyong1,jdbcType=VARCHAR},
      beiyong2 = #{beiyong2,jdbcType=VARCHAR},
      operate_time = #{operateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>