<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.javen.dao.FileInfoDao" >
  <resultMap id="BaseResultMap" type="com.javen.model.FileInfo" >
    <id column="ID" property="id" jdbcType="INTEGER" />
    <result column="fonds_num" property="fondsNum" jdbcType="VARCHAR" />
    <result column="file_year" property="fileYear" jdbcType="VARCHAR" />
    <result column="case_num" property="caseNum" jdbcType="VARCHAR" />
    <result column="file_num" property="fileNum" jdbcType="VARCHAR" />
    <result column="subject_name" property="subjectName" jdbcType="VARCHAR" />
    <result column="security_rank" property="securityRank" jdbcType="VARCHAR" />
    <result column="file_describe_num" property="fileDescribeNum" jdbcType="VARCHAR" />
    <result column="org_type" property="orgType" jdbcType="VARCHAR" />
    <result column="responsibler" property="responsibler" jdbcType="VARCHAR" />
    <result column="time" property="time" jdbcType="VARCHAR" />
    <result column="file_path" property="filePath" jdbcType="VARCHAR" />
    <result column="remarks" property="remarks" jdbcType="VARCHAR" />
    <result column="safekeeping_term" property="safekeepingTerm" jdbcType="VARCHAR" />
    <result column="address" property="address" jdbcType="VARCHAR" />
    <result column="state" property="state" jdbcType="VARCHAR" />
    <result column="page_num" property="pageNum" jdbcType="INTEGER" />
    <result column="upload_time" property="uploadTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, fonds_num, file_year, case_num, file_num, subject_name, security_rank, file_describe_num, 
    org_type, responsibler, time, file_path, remarks, safekeeping_term,address,state, page_num, upload_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from file_info
    where ID = #{id,jdbcType=INTEGER}
  </select>
  
  <select id="checkFileExist" resultMap="BaseResultMap" parameterType="com.javen.model.FileInfo" >
    select 
    <include refid="Base_Column_List" />
    from file_info
    where fonds_num=#{fondsNum,jdbcType=VARCHAR} and case_num=#{caseNum,jdbcType=VARCHAR} 
    and file_year=#{fileYear,jdbcType=VARCHAR}
  </select>
  
  <select id="queryFileInfo" resultType="String" parameterType="com.javen.model.FileInfo" >
    select 
    file_num
    from file_info
    where fonds_num=#{fondsNum,jdbcType=VARCHAR} and case_num=#{caseNum,jdbcType=VARCHAR} 
  </select>
  
  <select id="queryFileInfoNoCondition" resultMap="BaseResultMap"  >
    select 
    <include refid="Base_Column_List" />
    from file_info 
  </select>
  
  <select id="queryFileInfoByThreeCondition" resultMap="BaseResultMap" parameterType="com.javen.model.FileInfo" >
    select 
    <include refid="Base_Column_List" />
    from file_info
    <where>   
              <if test="fondsNum!=null and fondsNum!=''">  
                     and fonds_num like '%${fondsNum}%'  
              </if>  
              <if test="fileYear!=null and fileYear!=''">  
                     and file_year like '%${fileYear}%'  
              </if> 
              <if test="fileNum and fileNum!=''">  
                     and file_num like '%${fileNum}%'  
              </if>
              <if test="caseNum != null" >
        			and case_num like '%${caseNum}%'
     		  </if>
     		  <if test="subjectName != null" >
		     	 and  subject_name like '%${subjectName}%'
		      </if>
		      <if test="securityRank != null" >
		    	 and   security_rank like '%${securityRank}%'
		      </if>
		      <if test="fileDescribeNum != null" >
		     	  and file_describe_num like '%${fileDescribeNum}%'
		      </if>
		      <if test="orgType != null" >
		    	 and   org_type like '%${orgType}%'
		      </if>
		      <if test="responsibler != null" >
		    	  and  responsibler like '%${responsibler}%'
		      </if>
		      <if test="time != null" >
		     	 and  time like '%${time}%'
		      </if>
		      <if test="filePath != null" >
		    	  and  file_path like '%${filePath}%'
		      </if>
		      <if test="remarks != null" >
		    	  and  remarks like '%${remarks}%'
		      </if>
		      <if test="safekeepingTerm != null" >
		    	   and safekeeping_term like '%${safekeepingTerm}%'
		      </if>
		      <if test="address != null" >
		    	   and address like '%${addresss}%'
		      </if>
		      <if test="safekeepingTerm != null" >
		    	   and state like '%${state}%'
		      </if>
		      <if test="pageNum != null" >
		     	  and page_num like '%${pageNum}%'
		      </if>
     </where> 
  </select>
  
  <select id="cxZs" resultType="java.lang.Integer" >
    select 
    count(*)
    from file_info
  </select>
  
  <delete id="deleteByFileInfo" parameterType="com.javen.model.FileInfo" >
    delete from file_info
    <where>
     	<if test="fondsNum!=null and fondsNum!=''">  
            and fonds_num = #{fondsNum,jdbcType=VARCHAR}  
    	</if>  
    	<if test="caseNum != null and caseNum!=''" >
        	and case_num = #{caseNum,jdbcType=VARCHAR}
        </if>
    </where>
  </delete>
  
  <delete id="deleteByPrimaryKey" parameterType="com.javen.model.FileInfo" >
    delete from file_info
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  
  <insert id="insert" parameterType="com.javen.model.FileInfo" >
    insert into file_info (ID, fonds_num, file_year, 
      case_num, file_num, subject_name, 
      security_rank, file_describe_num, org_type, 
      responsibler, time, file_path, 
      remarks, safekeeping_term,address,state, page_num, 
      upload_time)
    values (#{id,jdbcType=INTEGER}, #{fondsNum,jdbcType=VARCHAR}, #{fileYear,jdbcType=VARCHAR}, 
      #{caseNum,jdbcType=VARCHAR}, #{fileNum,jdbcType=VARCHAR}, #{subjectName,jdbcType=VARCHAR}, 
      #{securityRank,jdbcType=VARCHAR}, #{fileDescribeNum,jdbcType=VARCHAR}, #{orgType,jdbcType=VARCHAR}, 
      #{responsibler,jdbcType=VARCHAR}, #{time,jdbcType=VARCHAR}, #{filePath,jdbcType=VARCHAR}, 
      #{remarks,jdbcType=VARCHAR}, #{safekeepingTerm,jdbcType=VARCHAR},#{address,jdbcType=VARCHAR},
       #{state,jdbcType=VARCHAR},#{pageNum,jdbcType=INTEGER}, 
      #{uploadTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.javen.model.FileInfo" >
    insert into file_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="fondsNum != null" >
        fonds_num,
      </if>
      <if test="fileYear != null" >
        file_year,
      </if>
      <if test="caseNum != null" >
        case_num,
      </if>
      <if test="fileNum != null" >
        file_num,
      </if>
      <if test="subjectName != null" >
        subject_name,
      </if>
      <if test="securityRank != null" >
        security_rank,
      </if>
      <if test="fileDescribeNum != null" >
        file_describe_num,
      </if>
      <if test="orgType != null" >
        org_type,
      </if>
      <if test="responsibler != null" >
        responsibler,
      </if>
      <if test="time != null" >
        time,
      </if>
      <if test="filePath != null" >
        file_path,
      </if>
      <if test="remarks != null" >
        remarks,
      </if>
      <if test="safekeepingTerm != null" >
        safekeeping_term,
      </if>
      <if test="address != null" >
        address,
      </if>
      <if test="state != null" >
        state,
      </if>
      <if test="pageNum != null" >
        page_num,
      </if>
      <if test="uploadTime != null" >
        upload_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="fondsNum != null" >
        #{fondsNum,jdbcType=VARCHAR},
      </if>
      <if test="fileYear != null" >
        #{fileYear,jdbcType=VARCHAR},
      </if>
      <if test="caseNum != null" >
        #{caseNum,jdbcType=VARCHAR},
      </if>
      <if test="fileNum != null" >
        #{fileNum,jdbcType=VARCHAR},
      </if>
      <if test="subjectName != null" >
        #{subjectName,jdbcType=VARCHAR},
      </if>
      <if test="securityRank != null" >
        #{securityRank,jdbcType=VARCHAR},
      </if>
      <if test="fileDescribeNum != null" >
        #{fileDescribeNum,jdbcType=VARCHAR},
      </if>
      <if test="orgType != null" >
        #{orgType,jdbcType=VARCHAR},
      </if>
      <if test="responsibler != null" >
        #{responsibler,jdbcType=VARCHAR},
      </if>
      <if test="time != null" >
        #{time,jdbcType=VARCHAR},
      </if>
      <if test="filePath != null" >
        #{filePath,jdbcType=VARCHAR},
      </if>
      <if test="remarks != null" >
        #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="safekeepingTerm != null" >
        #{safekeepingTerm,jdbcType=VARCHAR},
      </if>
       <if test="address != null" >
        #{address,jdbcType=VARCHAR},
      </if>
       <if test="state != null" >
        #{state,jdbcType=VARCHAR},
      </if>
      <if test="pageNum != null" >
        #{pageNum,jdbcType=INTEGER},
      </if>
      <if test="uploadTime != null" >
        #{uploadTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.javen.model.FileInfo" >
    update file_info
    <set >
      <if test="fondsNum != null" >
        fonds_num = #{fondsNum,jdbcType=VARCHAR},
      </if>
      <if test="fileYear != null" >
        file_year = #{fileYear,jdbcType=VARCHAR},
      </if>
      <if test="caseNum != null" >
        case_num = #{caseNum,jdbcType=VARCHAR},
      </if>
      <if test="fileNum != null" >
        file_num = #{fileNum,jdbcType=VARCHAR},
      </if>
      <if test="subjectName != null" >
        subject_name = #{subjectName,jdbcType=VARCHAR},
      </if>
      <if test="securityRank != null" >
        security_rank = #{securityRank,jdbcType=VARCHAR},
      </if>
      <if test="fileDescribeNum != null" >
        file_describe_num = #{fileDescribeNum,jdbcType=VARCHAR},
      </if>
      <if test="orgType != null" >
        org_type = #{orgType,jdbcType=VARCHAR},
      </if>
      <if test="responsibler != null" >
        responsibler = #{responsibler,jdbcType=VARCHAR},
      </if>
      <if test="time != null" >
        time = #{time,jdbcType=VARCHAR},
      </if>
      <if test="filePath != null" >
        file_path = #{filePath,jdbcType=VARCHAR},
      </if>
      <if test="remarks != null" >
        remarks = #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="safekeepingTerm != null" >
        safekeeping_term = #{safekeepingTerm,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="state != null" >
        state = #{state,jdbcType=VARCHAR},
      </if>
      <if test="pageNum != null" >
        page_num = #{pageNum,jdbcType=INTEGER},
      </if>
      <if test="uploadTime != null" >
        upload_time = #{uploadTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByFileInfo" parameterType="com.javen.model.FileInfo" >
    update file_info
    set 
      file_year = #{fileYear,jdbcType=VARCHAR},
      case_num = #{caseNum,jdbcType=VARCHAR},
      file_num = #{fileNum,jdbcType=VARCHAR},
      subject_name = #{subjectName,jdbcType=VARCHAR},
      security_rank = #{securityRank,jdbcType=VARCHAR},
      file_describe_num = #{fileDescribeNum,jdbcType=VARCHAR},
      org_type = #{orgType,jdbcType=VARCHAR},
      responsibler = #{responsibler,jdbcType=VARCHAR},
      time = #{time,jdbcType=VARCHAR},
      file_path = #{filePath,jdbcType=VARCHAR},
      remarks = #{remarks,jdbcType=VARCHAR},
      safekeeping_term = #{safekeepingTerm,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      state = #{state,jdbcType=VARCHAR},
      page_num = #{pageNum,jdbcType=INTEGER},
      upload_time = #{uploadTime,jdbcType=TIMESTAMP}
    where fonds_num = #{fondsNum,jdbcType=VARCHAR}
  </update>
  
  <update id="hookCaseInfo" parameterType="String" >
    update file_info
    set 
      case_num=#{2}
    where fonds_num = #{0} and case_num=#{1}
  </update>
  <update id="hookFondsInfo" parameterType="String" >
    update file_info
    set 
      fonds_num=#{1}
    where fonds_num = #{0}
  </update>
  
  <update id="updateMoreFileInfo" parameterType="String" >
    update file_info
    set 
      #{4}=replace(#{4},#{5},#{6})
    where fonds_num = #{0} and case_num=#{1} and catalogNum=#{2} and fileNum=#{3}
  </update>
</mapper>